https://docs.djangoproject.com/en/3.2/topics/templates/
{% for creditor in creditors %}
        <li>{{ creditor.creditorName }}</li>
{% endfor %}

<div class="container mt-5">
    

    <h2>All creditors</h2>

    <table class="table">
        <tbody>
        {% for creditor in creditors %}
            <tr>
            <th>{{ creditor.creditorID }}</th>
            <th>{{ creditor.creditorName }}</th>
            <th>{{ creditor.transactionCtr }}</th>
            </tr>
        {% empty %}
            <div class="alert alert-danger">
                There are no creditors yet.
            </div>
        {% endfor %}
        </tbody>
    </table>
	<table class="table">
        <tbody>
        {% for creditor in transactions %}
            <tr>
            <th>{{ creditor.transactionID }}</th>
            <th>{{ creditor.account }}</th>
            
            </tr>
        {% empty %}
            <div class="alert alert-danger">
                There are no creditors yet.
            </div>
        {% endfor %}
        </tbody>
    </table>
</div>

