<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<title>Beispiel HTML5 Grundgerüst - www.html-seminar.de</title>
	<meta name="description" content="Kurzbeschreibung">
	<link href="design.css" rel="stylesheet">
</head>


<body>
	<h1>Level 1 header kommt exakt einmal vor in jeder Seite</h1>
	<h2>Level 2 header</h2>
	<h3>Level 3 header</h3>
	<h4>Level 4 header</h4>
	<h5>Level 5 header</h5>
	<h6>Level 6 header</h6>
	<p> Einfacher <b>Absatz</b> </p>
	
	<p>Herzlich willkommen auf
	meiner          ersten          HTML-Seite.</p>
	<p>
	<pre> <!-- behält das originaltext wie es ist -->
	Hier                              finden
	Sie meine ersten HTML-Gehversuche zum
	Lernen von HTML mit dem HTML-KURS https://www.html-seminar.de
	</pre></p>
	<pre>
	Ihr
	Mustermann</pre>

	<p>Das isz ein
	Absatz</p>

	<pre>
		<code>
	durchgang = 0
	while durchgang < 11:
		print(durchgang)
		durchgang = durchgang + 1
	print("nach der Schleife")
				
		</code>
	</pre>
	
	<dl>
	  <dt>gasaaaaaaaaaaanz laaaaaaaaaaaangeeeeeeeeee Bewschreibunggasaaaaaaaaaaanz laaaaaaaaaaaangeeeeeeeeee Bewschreibung 1</dt>
	  <dd>
		Definitionsbeschreibung 1
		gasaaaaaaaaaaanz laaaaaaaaaaaangeeeeeeeeee 
	  </dd>

	  <dt>Definitionsbegriff 2</dt>
	  <dd>Definitionsbeschreibung 2</dd>
	</dl>
</body>

</html>





<p><h1>	FALSCH: Überschrift</h1></p>